<div class="card" id="site">

    <button type="button" class="btn btn-success btn-xs m-2 ml-auto"><i class="fa fa-floppy-o"></i> Update </button>

    <div class="card mt-2">

    <div class="card-body">

      <h4>Site Identity</h4>
      <hr>
      <h5>Favicon</h5>
      <p>Favicon is what you see in browser tabs, bookmark bars and within the Wordpress mobile apps. Upload one here!</p>
      <p>Favicon should be square and at least 64x64pixels.</p>

      <div class="col-md-4 col-md-offset-4">
          <div class="main-img-preview">
            <img class="card img-preview" src="" id="blah">
            <h6 class="p-2">Preview</h6>
          </div>
        </div>
      <form>
        <div class="form-group">
          <label for="title">Site Title</label>
          <input type="text" class="form-control" id="title" placeholder="Enter your site title">
        </div>
        <div class="form-group">
            <div class="form-group files">
                <label>Upload Your File </label>
                <input type="file" id="imgInp" name="logo" class="form-control" multiple="">
              </div>
        </div>
      </form>

      <h4 class="headings">Social Media Links</h4>
      <hr>
<form>
      <h6>Facebook Link</h6>
      <div class="col-auto">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-paperclip"></i></div>
          </div>
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="http://www.facebook.com/myvoip.co">
        </div>
      </div>

      <h6>Twitter Link</h6>
      <div class="col-auto">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-paperclip"></i></div>
          </div>
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="http://www.twitter.com/myvoip1">
        </div>
      </div>

      <h6>Youtube Link</h6>
      <div class="col-auto">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-paperclip"></i></div>
          </div>
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="http://www.youtube.com">
        </div>
      </div>
</form>


<h4 class="headings">Contact Options</h4>
<hr>
<form>
<h6>Address</h6>
<div class="col-auto">
<div class="input-group mb-2">
<div class="input-group-prepend">
  <div class="input-group-text"><i class="fa fa-map-marker"  aria-hidden="true"></i></div>
</div>
<input type="text" class="form-control" placeholder="1280 Wall St W Suite 308C Lyndhurst, NJ 07071">
</div>
</div>

<h6>Opening Hours</h6>
<div class="col-auto">
<div class="input-group mb-2">
<div class="input-group-prepend">
  <div class="input-group-text"><i class="fa fa-clock"></i></div>
</div>
<input type="text" class="form-control" placeholder="Monday-Friday: 8:30am to 6:00pm">
</div>
</div>

<h6>Phone</h6>
<div class="col-auto">
<div class="input-group mb-2">
<div class="input-group-prepend">
  <div class="input-group-text"><i class="fa fa-phone"></i></div>
</div>
<input type="text" class="form-control" placeholder="1-833-698-6471">
</div>
</div>

<h6>Email</h6>
<div class="col-auto">
<div class="input-group mb-2">
<div class="input-group-prepend">
  <div class="input-group-text"><i class="fa fa-envelope"></i></div>
</div>
<input type="text" class="form-control" placeholder="sales@myvoip.co">
</div>
</div>

</form>


    </div>
  </div>   
  <button type="button" class="btn btn-success btn-xs ml-auto m-2"><i class="fa fa-floppy-o"></i> Update </button>

</div>